# 游늵 Exploratory Data Analysis (EDA) Assignment
## Housing Prices Dataset

## List of variables
- **ad_description**: A description of the house. (String)
- **ad_last_update**: The date of the last update to the listing. (String)
- **air_conditioner**: An indicator of whether or not the house has air conditioning. (Boolean)
- **balcony**: An indicator of whether or not the house has a balcony. (Boolean)
- **bath_num**: The number of bathrooms in the house. (Integer)
- **built_in_wardrobe**: An indicator of whether or not the house has a built in wardrobe. (Boolean)
- **chimney**: An indicator of whether or not the house has a chimney. (Boolean)
- **construct_date**: The date the house was constructed. (String)
- **energetic_certif**: The energetic certification of the house. (String)
- **floor**: The floor on which the house is located. (Integer)
- **garage**: An indicator of whether or not the house has a garage. (Boolean)
- **garden**: An indicator of whether or not the house has a garden. (Boolean)
- **ground_size**: The size of the house in square meters. (Integer)
- **heating**: The type of heating in the house. (String)
- **house_type**: The type of house. (String)
- **kitchen**: An indicator of whether or not the house has a kitchen. (Boolean)
- **lift**: An indicator of whether or not the house has a lift. (Boolean)
- **loc_city**: The city in which the house is located. (String)
- **loc_district**: The district in which the house is located. (String)
- **loc_full**: The full address of the house. (String)
- **loc_neigh**: The neighborhood in which the house is located. (String)
- **loc_street**: The street on which the house is located. (String)
- **loc_zone**: The zone in which the house is located. (String)
- **m2_real**: The real size of square meters. (Integer)
- **m2_useful**: The size of the house in square meters. (Integer)
- **orientation**: The orientation of the house. (String)
- **price**: The price of the house. (Integer)
- **reduced_mobility**: An indicator of whether or not the house is suitable for reduced mobility. (Boolean)
- **room_num**: The number of rooms in the house. (Integer)
- **storage_room**: An indicator of whether or not the house has a storage room. (Boolean)
- **swimming_pool**: An indicator of whether or not the house has a swimming pool. (Boolean)
- **terrace**: An indicator of whether or not the house has a terrace. (Boolean)

## 1. Data loading and overview
- Load the dataset
- Display the first rows
- Report:
  - Number of rows and columns
  - Column names
  - Data types

In [1]:

import pandas as pd;
df = pd.read_csv("houses_coruna.csv")

In [2]:
print(df.head())
filas, columnas = df.shape
print(f"\nNumeros de filas: {filas}")
print(f"Number of columnas: {columnas}")
print("\nNombre de columnas:")
print(df.columns.tolist())
print("\nTipos de datos de cada columna:")
print(df.dtypes)

                                      ad_description  \
0  OPORTUNIDAD! REF. 20 EFIGEST INMOBILIARIA VEND...
1                                                NaN
2                        Dispone de un gran terreno.
3  Casa con bajo. garaje. atico. vivienda. se pue...
4                                                NaN

                       ad_last_update air_conditioner balcony bath_num  \
0  Anuncio actualizado el 10 de abril               0       0        2
1       m치s de 5 meses sin actualizar               0       0        1
2       m치s de 5 meses sin actualizar               0       0        1
3       m치s de 5 meses sin actualizar               0       0        2
4       m치s de 5 meses sin actualizar               0       0        1

  built_in_wardrobe chimney                   condition construct_date  \
0                 0       0  segunda mano/para reformar           1970
1                 0       0    segunda mano/buen estado            NaN
2                 0       0  segunda mano/para reformar            NaN
3                 0       0    segunda mano/buen estado            NaN
4                 0       0    segunda mano/buen estado            NaN

  energetic_certif  ... m2_useful obtention_date orientation   price  \
0       en tr치mite  ...       NaN     2019-04-13         NaN   79500
1      no indicado  ...        57     2019-04-13         NaN   80000
2      no indicado  ...       NaN     2019-04-13         NaN   30000
3      no indicado  ...       NaN     2019-04-13         NaN  235000
4      no indicado  ...       NaN     2019-04-13         NaN   75000

  reduced_mobility room_num storage_room swimming_pool terrace unfurnished
0                0        5            0             0       0         NaN
1                0        2            1             0       0         NaN
2                0        2            0             0       0         NaN
3                0        3            0             0       1         NaN
4                0        2            0             0       0         NaN

[5 rows x 36 columns]

Numeros de filas: 8341
Number of columnas: 36

Nombre de columnas:
['ad_description', 'ad_last_update', 'air_conditioner', 'balcony', 'bath_num', 'built_in_wardrobe', 'chimney', 'condition', 'construct_date', 'energetic_certif', 'floor', 'garage', 'garden', 'ground_size', 'heating', 'house_id', 'house_type', 'kitchen', 'lift', 'loc_city', 'loc_district', 'loc_full', 'loc_neigh', 'loc_street', 'loc_zone', 'm2_real', 'm2_useful', 'obtention_date', 'orientation', 'price', 'reduced_mobility', 'room_num', 'storage_room', 'swimming_pool', 'terrace', 'unfurnished']

Tipos de datos de cada columna:
ad_description       object
ad_last_update       object
air_conditioner      object
balcony              object
bath_num             object
built_in_wardrobe    object
chimney              object
condition            object
construct_date       object
energetic_certif     object
floor                object
garage               object
garden               object
ground_size          object
heating              object
house_id             object
house_type           object
kitchen              object
lift                 object
loc_city             object
loc_district         object
loc_full             object
loc_neigh            object
loc_street           object
loc_zone             object
m2_real              object
m2_useful            object
obtention_date       object
orientation          object
price                object
reduced_mobility     object
room_num             object
storage_room         object
swimming_pool        object
terrace              object
unfurnished          object
dtype: object

## 2. Data quality analysis
Analyze the quality of the dataset:
- Duplicates:
  - Check for duplicated rows
- Missing values:
  - Identify which columns contain missing data
  - Quantify missing values
- Data consistency:
  - Identify any suspicious or extreme values

Explain any issues you detect.

In [3]:
duplicate_rows = df.duplicated().sum()
print(f"\nNumero de filas duplicadas: {duplicate_rows}")

Numero de filas duplicadas: 29

In [4]:

missing_values = df.isnull().sum()

missing_columns = missing_values[missing_values > 0]

print("Missing values per column:")
print(missing_columns)

Missing values per column:
ad_description       550
condition            677
construct_date      5398
energetic_certif    2128
floor               1667
garage              3366
ground_size         8311
heating             6326
kitchen             8311
lift                4197
loc_district        1203
loc_neigh           5726
loc_street          8017
m2_useful           4386
orientation         5766
unfurnished         8311
dtype: int64

In [5]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
missing_percentage = missing_percentage[missing_percentage > 0]

print("\nPercentage of missing values:")
print(missing_percentage)

Percentage of missing values:
ad_description       6.593934
condition            8.116533
construct_date      64.716461
energetic_certif    25.512528
floor               19.985613
garage              40.354874
ground_size         99.640331
heating             75.842225
kitchen             99.640331
lift                50.317708
loc_district        14.422731
loc_neigh           68.648843
loc_street          96.115574
m2_useful           52.583623
orientation         69.128402
unfurnished         99.640331
dtype: float64

In [6]:
df.describe(include='all')

,ad_description,ad_last_update,air_conditioner,balcony,bath_num,built_in_wardrobe,chimney,condition,construct_date,energetic_certif,...,m2_useful,obtention_date,orientation,price,reduced_mobility,room_num,storage_room,swimming_pool,terrace,unfurnished
count,7791,8341,8341,8341,8341,8341,8341,7664,2943,6213,...,3955,8341,2575,8341,8341,8341,8341,8341,8341,30
unique,7386,326,3,3,15,3,3,4,105,4,...,350,3,16,1027,3,19,3,3,3,1
top,ad_description,Anuncio actualizado el 10 de abril,0,0,2,1,0,segunda mano/buen estado,2008,en tr치mite,...,90,2019-04-14,sur,120000,0,3,1,0,0,unfurnished
freq,30,472,8170,7415,3770,4229,8084,6273,190,3426,...,146,8162,941,217,7522,2572,4851,7321,5605,30

In [7]:
df.describe()
numeric_cols = df.select_dtypes(include="number")

Q1 = numeric_cols.quantile(0.25)
Q3 = numeric_cols.quantile(0.75)
IQR = Q3 - Q1

outliers = ((numeric_cols < (Q1 - 1.5 * IQR)) |
            (numeric_cols > (Q3 + 1.5 * IQR)))

outlier_counts = outliers.sum()

print("Potential outliers per column:")
print(outlier_counts[outlier_counts > 0])

Potential outliers per column:
Series([], dtype: float64)

In [8]:

categorical_cols = df.select_dtypes(include="object")

for col in categorical_cols:
    print(f"\n{col} unique values:")
    print(df[col].value_counts())

ad_description unique values:
ad_description
ad_description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           30
춰VIVIENDAS LLAVE EN MANO!,Residencial Das Alboradas. Proyecto exclusivo en r칠gimen de cooperativa, combinando el entorno natural de Cee con una edificaci칩n de lujo. ,La promoci칩n se compone de 119 unidades distribuidas en 2 edificios, con viviendas de 1, 2 y 3 dormitorios, garaje, trastero y zona com칰n con parque infantil y pista de p치del.,Cee es una hermosa villa marinera situada en una de las zonas paisaj칤sticas m치s singulares de Galicia, la Costa da Morte. Est치 a 14 km de Fisterra, y por ella pasa el Camino Jacobeo que va hacia el fin del mundo; a unos 10 km hacia el sur se encuentra el monte Pindo, una gran mole gran칤tica al borde mismo del mar y por el que desemboca el r칤o Xallas en cascada directamente al mar.,Se asoma al mar por tres fragmentos de costa: la r칤a de Lires en el noroeste, la playa de Estorde en la ensenada fisterrana, y desde el mismo Cee hasta la ensenada del 칄zaro.,El municipio tiene una superficie de 52,2 km en los que viven 7.525 habitantes distribuidos en seis parroquias: La Ameixenda, Brens, Cee (que en su n칰cleo urbano aglutina a cerca de 3.600 habitantes), Lires, A Pereiri침a y Toba." , "춰VIVIENDAS LLAVE EN MANO!,Residencial Das Alboradas. Proyecto exclusivo en r칠gimen de cooperativa, combinando el entorno natural de Cee con una edificaci칩n de lujo. ,La promoci칩n se compone de 119 unidades distribuidas en 2 edificios, con viviendas de 1, 2 y 3 dormitorios, garaje, trastero y zona com칰n con parque infantil y pista de p치del.,Cee es una hermosa villa marinera situada en una de las zonas paisaj칤sticas m치s singulares de Galicia, la Costa da Morte. Est치 a 14 km de Fisterra, y por ella pasa el Camino Jacobeo que va hacia el fin del mundo; a unos 10 km hacia el sur se encuentra el monte Pindo, una gran mole gran칤tica al borde mismo del mar y por el que desemboca el r칤o Xallas en cascada directamente al mar.,Se asoma al mar por tres fragmentos de costa: la r칤a de Lires en el noroeste, la playa de Estorde en la ensenada fisterrana, y desde el mismo Cee hasta la ensenada del 칄zaro.,El municipio tiene una superficie de 52,2 km en los que viven 7.525 habitantes distribuidos en seis parroquias: La Ameixenda, Brens, Cee (que en su n칰cleo urbano aglutina a cerca de 3.600 habitantes), Lires, A Pereiri침a y Toba.    30
A estrenar. Promoci칩n de viviendas de 1 o 2 dormitorios con 1 o 2 ba침os situada en Boqueix칩n. Cuentan con superficies entre 47 m y 90 m. Est치 ubicada en una zona cubierta por todos los servicios b치sicos y muy bien comunicada con Santiago de Compostela. Las viviendas incluyen plaza de garaje.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   18
Piso a estrenar situado en el municipio de Ares. La vivienda cuenta con dos dormitorios y dos ba침os. El edificio est치 dotado de ascensor y la urbanizaci칩n cuenta con zonas ajardinadas y piscina. Muy cerca de la playa, una bonita ensenada de aguas tranquilas, con un precioso paseo mar칤timo.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       15
Vivienda en edificio con ascensor en una zona residencial cercana a la costa.,Fant치sticas viviendas en Escaraboti침o, Boiro. De 1 a 3 dormitorios y 1 o 2 ba침os. Todas las viviendas disponen de parking y trastero. Hay posibilidad de adquirir m치s plazas de parking en el mismo edificio (consulta el precio y la disponibilidad). Con buenos acabados que incluyen aislante en c치mara, carpinter칤a exterior de aluminio, acristalamiento con c치mara y persianas met치licas. Los suelos son de parqu칠 y de cer치mico en las zonas h칰medas. Finca con ascensor. Algunas viviendas disponen de terrazas y excelentes vistas al mar. Situadas en una zona residencial cercana a la costa.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   15
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ..
parcela con riego autom치tico y puerta de acceso a parcela y puerta garaje con mando a distancia.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
Es una casa muy c치lida, con much칤sima luz, con la caracter칤stica especial que el sol le da todo el d칤a.,Con un aislamiento t칠rmico especial para el fri칩 y el calor.,Todos los servicios en pleno funcionamiento y sin problemas a la hora de tener cualquier operador de Internet.,Esta a 1500 metros del centro de Betanzos, a 15 Km de varias playas de la comarca y con un campo de Pitch and Putt a 500 metros.,La casa esta construida hace 6 a침os.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1

In [9]:
df.describe(include='all')

,ad_description,ad_last_update,air_conditioner,balcony,bath_num,built_in_wardrobe,chimney,condition,construct_date,energetic_certif,...,m2_useful,obtention_date,orientation,price,reduced_mobility,room_num,storage_room,swimming_pool,terrace,unfurnished
count,7791,8341,8341,8341,8341,8341,8341,7664,2943,6213,...,3955,8341,2575,8341,8341,8341,8341,8341,8341,30
unique,7386,326,3,3,15,3,3,4,105,4,...,350,3,16,1027,3,19,3,3,3,1
top,ad_description,Anuncio actualizado el 10 de abril,0,0,2,1,0,segunda mano/buen estado,2008,en tr치mite,...,90,2019-04-14,sur,120000,0,3,1,0,0,unfurnished
freq,30,472,8170,7415,3770,4229,8084,6273,190,3426,...,146,8162,941,217,7522,2572,4851,7321,5605,30

## 3.Descriptive statistics

- Compute summary statistics for numeric variables
- Interpret:
  - Central tendency
  - Dispersion
  - Range
- Identify variables with skewed distributions

In [ ]:
summary = df.describe()
print(summary)

In [11]:
import pandas as pd

cols_analisis = ['price', 'm2_real', 'm2_useful', 'room_num', 'bath_num']

for col in cols_analisis:
    df[col] = pd.to_numeric(df[col], errors='coerce')

df_numeric = df[cols_analisis]


summary = df_numeric.describe()


summary.loc['range'] = df_numeric.max() - df_numeric.min()


summary.loc['skew'] = df_numeric.skew()

print("Estad칤sticas Descriptivas del Mercado en Coru침a:")
print(summary.round(2))

Estad칤sticas Descriptivas del Mercado en Coru침a:

            price    m2_real  m2_useful  room_num  bath_num
count     8311.00    8311.00    3925.00   8183.00   8211.00
mean    183113.84    1044.77     144.59      3.32      2.05
std     190085.46    8162.55     115.41      1.53      1.08
min       9995.00       2.00       1.00      1.00      1.00
25%      84000.00      80.00      70.00      2.00      1.00
50%     128000.00     114.00      95.00      3.00      2.00
75%     230000.00     600.00     190.00      4.00      2.00
max    3800000.00  400000.00    1100.00     30.00     30.00
range  3790005.00  399998.00    1099.00     29.00     29.00
skew         6.47      36.90       2.28      2.02      3.79

In [19]:
skewness = df_numeric.skew()
print("\nSkewness of numeric columns:")
print(skewness)

Skewness of numeric columns:
price         6.470370
m2_real      36.903635
m2_useful     2.278236
room_num      2.022880
bath_num      3.788452
dtype: float64

## 4. Univariate analysis
Analyze individual variables:
- Choose at least three numeric variables
- Visualize their distributions using appropriate plots
- Comment on:
  - Shape of the distribution
  - Presence of outliers
  - Variability

## 5. Bivariate and multivariate analysis
Study relationships between pairs of variables:

- **a) Numeric vs numeric**
    - Choose at least two pairs
    - Use scatter plots
    - Comment on:
        - Direction
        - Strength
- **b) Numeric vs categorical**
    - Compare the numeric variable across categories
    - Use appropriate plots
    - Interpret differences between groups
- **c) Multivariate analysis**
    - Combine more than two variables to extract insights.

## 6. Correlation analysis
Compute correlation values between numeric variables

Identify:
- Strong positive correlations
- Strong negative correlations
- Weak or null correlations

 Relate correlations to earlier visual findings

## 7. Conclusions

Summarize your main findings:
- Key characteristics of the housing market
- Important relationships between variables
- Limitations of the dataset
- Ideas for further analysis or modeling